In [1]:
import pandas as pd
import wands
from tqdm import tqdm
import os

In [2]:
WANDS_REPO = '/usr/local/google/home/raulramos/projects/WANDS'

In [3]:
pw = pd.read_csv(f'{WANDS_REPO}/dataset/product.csv', sep='\t')
pw.set_index('product_id', inplace=True)

qw = pd.read_csv(f'{WANDS_REPO}/dataset/query.csv', sep='\t')
qw.set_index('query_id', inplace=True)

lw = pd.read_csv(f'{WANDS_REPO}/dataset/label.csv', sep='\t')

In [4]:
# queries already come in cool format
qw.to_parquet(f'wands/queries.parquet')
qw.head()

                              query               query_class
query_id
0                       salon chair            Massage Chairs
1                smart coffee table  Coffee & Cocktail Tables
2                          dinosaur           Kids Wall Décor
3                 turquoise pillows            Accent Pillows
4         chair and a half recliner                 Recliners

In [5]:
p = pw
p = [ [product_id, utils.get_wands_product_string(row)] for product_id, row in tqdm(pw.iterrows(), total=len(p))]
p = pd.DataFrame(p, columns=['product_id', 'product']).set_index('product_id')
p.to_parquet(f'wands/products.parquet')
p.head()

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42994/42994 [00:02<00:00, 16494.65it/s]

                                                      product
product_id
0           <NAME>solid wood platform bed</NAME>\n<CLASS>B...
1           <NAME>all-clad 7 qt . slow cooker</NAME>\n<CLA...
2           <NAME>all-clad electrics 6.5 qt . slow cooker<...
3           <NAME>all-clad all professional tools pizza cu...
4           <NAME>baldwin prestige alcott passage knob wit...

In [6]:
lw['label'].value_counts()

label
Partial       146633
Irrelevant     61201
Exact          25614
Name: count, dtype: int64

In [7]:
m = {'Exact': 2, 'Partial': 1, 'Irrelevant': 0}`
lw['relevance'] = [m[i] for i in lw['label'].values]

In [8]:
lw.head()

   id  query_id  product_id       label  relevance
0   0         0       25434       Exact          2
1   1         0       12088  Irrelevant          0
2   2         0       42931       Exact          2
3   3         0        2636       Exact          2
4   4         0       42923       Exact          2

In [9]:
lw.to_parquet('wands/relevance.parquet')