In [1]:
import utils
import pandas as pd
from tqdm import tqdm
import numpy as np

## according to [Wikipedia nDCG](https://en.wikipedia.org/wiki/Discounted_cumulative_gain) and  [this blog](https://medium.com/data-science/demystifying-ndcg-bee3be58cfe0)


$$nDCG = \frac{\sum_{m \in \texttt{model\_ranking}} \frac{relevance_m}{\log (m+1)}}{\sum_{i \in \texttt{ideal\_ranking}} \frac{relevance_i}{\log (i+1)}}$$

In [2]:
r = pd.read_parquet('text-004/esci-es-ranking_with_relevance.parquet')
r

        query_id  product_id  model_rank  relevance
0              3  B008U89G36           1        0.0
1              3  B074CMNY95           2        0.0
2              3  B06X3RF36L           3        0.0
3              3  B07LFH3ML5           4        0.0
4              3  B081B99MF4           5        0.0
...          ...         ...         ...        ...
607195    115947  B008MXC73A          36        0.0
607196    115947  B07VSH8KRX          37        0.0
607197    115947  B07C8JJDRT          38        0.0
607198    115947  B07F9WJ7QM          39        0.0
607199    115947  B00DH76CL4          40        0.0

[607200 rows x 4 columns]

In [12]:
r = pd.DataFrame([ [1,1,1,0.0],
               [1,2,2,0.0],
               [1,3,3,1.0],
               [1,4,4,1.0],
               [1,5,5,1.0],
               [2,1,1,1.0],
               [2,2,2,0.0],
               [2,3,3,1.0],
               [2,4,4,0.0],
               [2,5,5,1.0],
               [3,1,1,3.0],
               [3,2,2,2.0],
               [3,3,3,3.0],
               [3,4,4,0.0],
               [3,5,5,1.0],
               [3,6,6,2.0]                 
                 
                 ] , 
             columns = ['query_id', 'product_id', 'model_rank', 'relevance'])

r

    query_id  product_id  model_rank  relevance
0          1           1           1        0.0
1          1           2           2        0.0
2          1           3           3        1.0
3          1           4           4        1.0
4          1           5           5        1.0
5          2           1           1        1.0
6          2           2           2        0.0
7          2           3           3        1.0
8          2           4           4        0.0
9          2           5           5        1.0
10         3           1           1        3.0
11         3           2           2        2.0
12         3           3           3        3.0
13         3           4           4        0.0
14         3           5           5        1.0
15         3           6           6        2.0

In [13]:
qdcg, ndcg = utils.compute_ndcg(r)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [00:00<00:00, 11.46it/s]

In [14]:
ndcg

               dcg      idcg      ndcg
query_id
1         1.317529  2.130930  0.618289
2         1.886853  2.130930  0.885460
3         6.861127  7.140995  0.960808

In [ ]:
for qi in np.unique(r.query_id):

In [6]:
ndcg.ndcg.mean()

np.float64(0.7518741918103828)

# Sklearn implementation (only order maters)

In [3]:
from sklearn.metrics import ndcg_score
import numpy as np

In [4]:
# we have ground-truth relevance of some answers to a query:
true_relevance = np.asarray([[10, 0, 0, 1, 5]])
# we predict some scores (relevance) for the answers
scores        = np.asarray([[.1, .2, .3, 4, 70]])
ndcg_score(true_relevance, scores)

np.float64(0.6956940443813076)

In [8]:
scores        = np.asarray([[10, 20, 39, 40, 70]])
ndcg_score(true_relevance, scores)

np.float64(0.6956940443813076)

In [ ]:
true_relevance.dtype, scores.dtype, true_relevance.shape, scores.shape

In [ ]:
true_r.shape, scores_r.shape

In [43]:
true_r = r[r.query_id==1].relevance.values.astype(int).reshape(1,-1)
scores_r = 1/r[r.query_id==1].model_rank.values.reshape(1,-1)
ndcg_score(true_r, scores_r)

np.float64(0.6182885020492785)

In [20]:
# we have ground-truth relevance of some answers to a query:
true_relevance = np.asarray([[10, 0, 0, 1, 5]])
# we predict some scores (relevance) for the answers
scores        = np.asarray([[10, .2, .3, 1, 2]])
ndcg_score(true_relevance, scores)

np.float64(1.0)